<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meu Site ExpressJS</title>
    <style>
      * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }
      body {
        background-color: red;
      }
      .menu {
        background-color: black;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
    </style>
  </head>
  <nav class="menu">
    <img
      width="100"
      src="https://a.thumbs.redditmedia.com/fNMadtn3q-c7z_fepWhF9IZB6Sc_ZYE0TwOuZl_Wyh0.jpg"
      alt=""
    />
  </nav>
  <ul></ul>
</html>
